server {
    listen 88 default_server;
    listen [::]:88 default_server;

    server_name _;
    return 444;
}

# Default server block
server {
    listen 7860 ssl;
    listen [::]:7860 ssl;

    ssl_certificate /home/almoeeni/starter-app/etc/ssl/CERTIFICATE.crt;

    ssl_certificate_key /home/almoeeni/starter-app/etc/ssl/CERT_PRIVATE_KEY.key;

    root /home/almoeeni/starter-app/src/www/admin;
    index index.php index.html index.htm;

    server_name  fazal-backend.mediapark.work;
    if ($host != "fazal-backend.mediapark.work") {
        return 403;
    }

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }

    error_log /home/almoeeni/starter-app/tmp/log/frontend_error.log;
    access_log /home/almoeeni/starter-app/tmp/log/frontend_access.log;
}